.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--link {
  position: relative;
  text-decoration: none !important;
}

.list-menu__item--link::after {
  content: '';
  position: absolute;
  bottom: 0.3em;
  left: 50%;
  right: 50%;
  height: 1px;
  background-color: currentColor;
  pointer-events: none;
  transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
              right 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-menu__item--link:hover::after,
.list-menu__item--active::after {
  left: 0;
  right: 0;
}

.list-menu__item--active {
  text-decoration: none;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
